@import "variables.less";

.btn {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: @font-size-base;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover {
  background-color: @primary;
  border-color: @primary;
  color: @light;
  background-image: none;
  text-shadow: none;
  box-shadow:none;
  transition: all .25s;
}

.btn-primary:hover {
  background-color: @primary-hover-color;
}

.btn-sm {
  line-height: 1.5;
  border: 0;
}

.btn-md {
  padding: 7px 12px;
  font-size: @font-size-md;
  font-weight: @font-semibold;
  line-height: 2.0;
  border: 0;
}

.btn-lg {
  padding: 10px 15px;
  font-size: @font-size-lg;
  font-weight: @font-semibold;
  line-height: 2.5;
  border: 0;
}

.btn-orange {
  background-color: @warning;
  border-color: @warning;
  color: @light;
}
.btn-orange:hover {
  background-color: darken(@warning, 5%);
  color: @light;
}

.btn-gray {
  background-color: @gray ;
  border-color: @gray ;
  color: @dark;
}

.btn-gray:hover {
  background-color: darken(@gray, 5%);
  color: @dark;
}
