@import "variables.less";

.btn-primary, .btn-primary:focus, .btn-primary:hover {
  background-color: @primary;
  border-color: @primary;
  color: @light;
}
.btn-sm {
  font-size: 10px;
  line-height: 1.5;
}
.btn {
  padding: 5px 10px;
  border-radius: 0;
}