@import "variables.less";


// CONFERENCE ON CONFERENCE PAGE
.conference-container {

  .conference-information-container{
    padding: 15px;
  }

  .voice-btn-container {
    padding: 15px 0 15px 0;
  }

  .aggregated-ratings-container {

    .panel {
      margin-bottom: 15px;
    }
  }
}



// CONFERENCE LIST ON HOME PAGE
.conference-search {
  .search-for-conference-input {
    width: 350px;
  }

  .conference-suggestion-template {
    background-color: @light;
    width: 350px;;
    padding: 12px;
    border: 1px solid @gray;
    box-shadow: 10px 10px 9px -10px @gray;
  }

  .tt-cursor {
    background-color: lighten(@orange, 20%);
  }
}


// CONFERENCE LIST ENTRY ON HOME PAGE
.conference-item-container {
  margin-bottom: 35px;

  .panel-heading {

    a:hover {
      text-decoration: none;
    }

    .recommendations-votes-panel {
      padding-bottom: 10px;
    }
  }

  .panel-body {
    padding-top: 0;
  }

  .bottom-line {
    border-bottom: 1px solid @gray;

    .row {
      padding-bottom: 15px;
    }
  }

  .conference-rating-column {
    margin-top: 5px;
  }

  .voice-btn {
    width: 100%;
  }

  .conference-overall-rating-conatiner {
    padding: 0 15px 0 15px;

    .conference-overall-rating {
      margin-bottom: 10px;
    }
  }
  .panel-footer {
    padding: 0;
    border: 0;
    background-color: @light;
  }

  .conference-description {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 12*1.5*11; /* Fallback for non-webkit */
    margin: 0 auto 10px auto;
    font-size: 12px;
    line-height: 1.5;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .conference-title {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 22px; /* Fallback for non-webkit */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .conference-link {
    overflow: hidden;
    height: 16px;
  }
  
  .conference-dates {
    overflow: hidden;
    height: 17px;
  }

  .mini-panel-container {
     margin: 5px;
  }

  .mini-panel {

  @media (max-width: 767px) {
     width: 100%;
     /*float: right*/

      }


    display: inline-block;

    .media-container:nth-child(1) {
      padding-bottom: 2px;

    }

    .media-container:nth-child(2) {
      padding: 2px;
      padding-bottom: 4px;
    }

    .media-left {
      padding-right: 0px;
    }
  }

  .mini-panel:nth-child(2) {
    float: right;
  }
}

.series-tag-container {
  margin-bottom: 20px;
  overflow: hidden;
  height: 25px;
  padding-top: 5px;

  .series-tag {
    background-color: lighten(@dark, 15%);
    text-transform: uppercase;
    color: @light;
    padding: 5px;
    width: 100%;
    overflow: hidden;
  }

  .series-tag-hidden {
    visibility: hidden;
  }
}

.bg-upcoming-conference {
  background-color: lighten(@orange, 33%);
}


//ADD CONFERENCE PAGE
.add-conference-form-container {
  padding: 15px;
}