@import "variables";

.navbar-inverse {
  border-radius: 0;
  background-color: @dark;
  border-color: @dark;
  background-image: none;

  .navbar-brand, .navbar-brand:hover {
    float: left;
    height: 50px;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: @font-semibold;
    line-height: 20px;
    color: @light;

    a {
      color: @light;
      margin-left: 15px;
      text-decoration: none;
    }

    .glyphicon {
      margin-left: 15px;
    }
  }

  &.search-bar {
    margin-top: 50px;
    padding-top: 55px;
    background-color: @body-bg;
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.action-bar-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.legend-bar {
  text-align: right;

  .legend {
    padding: 5px;
    margin-left: 10px;
    text-align: right;
    color: @light;
  }
}