@import "variables.less";

.panel {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;

  .panel-heading {
    border: 0;
    border-radius: 0;
  }
  .panel-body {
    border: 0;
    border-radius: 0;
    padding-top: 5px;
  }

  .panel-footer {
    border: 0;
    border-radius: 0;
    background-color: @light;
  }

  .icon-lg {
    .glyphicon {
      font-size: 4em;
    }
  }


  .icon-md {
    .glyphicon {
      font-size: 2em;
    }
    .glyphicon-mini {
      font-size: 1.5em;
    }
  }
}

.info-panel {

  .panel-body {
    padding-left: 35px;
  }

  .panel-footer {
    padding-left: 35px;
  }
}

.range-panel{
  color: @light;

  .icon-wrap {
    padding:  0;
  }
}


.mini-panel {

  .media-container {
    padding: 5px;

    .media-body {
      padding-top: 0;
    }
  }
}
