@import "variables.less";

.panel {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;

  .panel-heading {
    border: 0;
    border-radius: 0;
  }
  .panel-body {
    border: 0;
    border-radius: 0;
    padding-top: 5px;
  }

  .panel-footer {
    border: 0;
    border-radius: 0;
    background-color: @light;
  }

  .icon-lg {
    .glyphicon {
      font-size: 4em;
    }
  }


  .icon-md {
    .glyphicon {
      font-size: 2em;
    }
  }
}

.info-panel {

  .panel-body {
    padding-left: 35px;
  }

  .panel-footer {
    padding-left: 35px;
  }
}

.range-panel{
  color: @light;

  .icon-wrap {
    padding:  0;
  }
}

.conference-item-container {
  margin-bottom: 15px;

  .panel-heading {
    padding-bottom: 20px;
  }

  .panel-body {
    padding-top: 0;
  }

  .bottom-line {
    border-bottom: 1px solid @gray
  }

  .conference-rating-column {
    margin-top: 5px;
  }

  .series-tag-container {
    margin-top: 10px;
    margin-bottom: 20px;

    .series-tag {
      background-color: lighten(@dark, 15%);
      color: @light;
      padding: 5px;
      width: 100%;
    }
  }
  
  .voice-btn {
    width: 100%;
  }

  .conference-overall-rating-conatiner {
    padding: 0 15px 0 15px;

    .conference-overall-rating {
      margin-bottom: 10px;
    }
  }
  .panel-footer {
    padding: 0;
    border: 0;
    background-color: @light;
  }
}


