@import "variables.less";

.progress {
  height: 12px;
  border-radius: 0;
  margin: 0;

  }
.progress-xs {
  height: 12px;
  margin-bottom: 10px;
  border-radius: 0;
  background-color: @gray;
}


.progessbar {
  float: left;
  box-shadow: none;
  line-height: 2px;
  height: 100%;
  }

.progressbar-light {
   background-color: @light;
 }