@import "variables.less";

.add-rating-container {

  .panel {
    margin-bottom: 15px;
  }

  .block-label{
    display: block;
    cursor: pointer;
   }

   label{
    cursor: pointer;
   }

  .rating-panel-container{
    padding: 15px;
    text-align: center;
    font-weight: @font-semibold;
    font-size: @font-size-lg;
    
    i {
      padding: 3px 5px 3px 3px;
    }

    p {
      font-size: @font-size-base;
    }

    .row {
      padding-top: 20px;
    }
  }

  .role-checkbox-container {

    .role-label {
      margin-bottom: 0;
    }

    .role-description {
      font-weight: @font-normal;
    }
  }

  .form-group {
    margin-top: 15px;

    input[type="text"] {
      margin-bottom: 10px;
    }
  }

}


.rating {
  margin-bottom: 15px;

  .row {
    padding-top: 10px;
  }
}
