@import "variables.less";
@import "panel.less";
@import "button.less";
@import "media.less";
@import "conferences.less";
@import "badge.less";
@import "progressbar.less";
@import "header.less";
@import "rating.less";
@import "checkbox.less";
@import "radio.less";


body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  -webkit-font-smoothing: antialiased;
  color: @body-color;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: @link-color;
}

a:hover {
  text-decoration: underline;
  color: @link-hover-color;
}

.bg-gray {
  background-color: @gray;
}

.bg-dark-lightened {
  background-color: lighten(@dark, 58%);
}

.bg-yellow-lightened {
  background-color: lighten(@orange, 10%);
}

.bg-blue {
  background-color: @info;
}

.bg-purple {
  background-color: @purple ;
}

.bg-mint {
  background-color: @mint;
}

.bg-pink {
  background-color: @pink;
}

.bg-green {
  background-color: @success;
}

.bg-dark {
  background-color: @dark;
}

.bg-orange {
  background-color: @warning;
}

.bg-yellow {
  background-color: @warning;
}

.bg-body {
  background-color: @body-bg;
}

.bg-light {
  background-color: @light;
}

.cl-light {
  color: @light;
}

.cl-blue {
  color: @info;
}

.cl-yellow {
  color: @warning;
}

.cl-dark {
  color: @dark
}

.text-lg-right {
  text-align: right;
}

.text-lg-left {
  text-align: left;
}

.text-lg-center {
  text-align: center;
}

.container .jumbotron {
  border-radius: 0;
}

.text-uppercase{
  text-transform: uppercase;
  font-size: 85%;
  }

.text-semi{
  font-weight: 600;
  font-size: 85%;
}

.content-container {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 70px;
}

.bg-dev {
  background-color: @dev;
}

.bg-devops {
  background-color: @devops;
}

.bg-ux {
  background-color: @ux;
}

.bg-qa {
  background-color: @qa;
}

.bg-ba {
  background-color: @ba;
}

.bg-pm {
  background-color: @pm;
}

.bg-sales {
  background-color: @sales;
}

.bg-recruting {
  background-color: @recruiting;
}

.bg-other {
  background-color: @other;
}

.pad-top {
  margin-top: 80px;
}

.form-group {

  .form-control {
    background-color: @light;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition:none;
    -o-transition: none;
    transition: none;
  }

  .form-control:focus {
    border-color: @orange;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .datepicker-wrapper {

    .input-group-addon {
      background-color: @gray;
      border-radius: 0;
    }

    .datepicker.dp-dropdown {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    .datepicker td {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }

}

