@import "variables.less";
@import "panel.less";
@import "button.less";
@import "progressbar.less";
@import "media.less";

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  color: @body-color;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: @link-color;
}

a:hover {
  text-decoration: underline;
  color: @link-hover-color;
}

.bg-purple {
  background-color: @purple ;
}

.bg-mint {
  background-color: @mint;
}

.bg-body {
  background-color: @body-bg;
}

.cl-light {
  color: @light;
}

.text-lg-right {
  text-align: right;
}

.text-lg-left {
  text-align: left;
}

.container .jumbotron {
  border-radius: 0;
}

.add-rating-container {
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid @body-border-color;
  border-top: 1px solid @body-border-color;
}

.text-uppercase{
  text-transform: uppercase;
  font-size: 85%;
  }

.text-semi{
  font-weight: 600;
  font-size: 85%;
}

