
// Variables
// --------------------------------------------------

@font-family-base			: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-size-base				: 12px;
@font-size-md				: 14px;
@font-size-lg				: 16px;
@font-semibold				: 600;
@font-normal				: 400;


@body-bg					: #e7ebee;
@body-border-color			: darken(@body-bg, 7%);
@body-color					: #515151;
@link-color					: @body-color;
@link-hover-color			: darken(@body-color, 7%);
@border-color-base			: #e9e9e9;
@border-radius-base			: 0;
@selection-color			: rgba(46, 165, 204, 0.41);
@grid-gutter-width			: 24px;


// COLORS
//============================================
@light                   : #fff;
@gray                    : #e3e8ee;

@primary                 : #5fa2dd;
@blue                    : @primary;
@primary-hover-color     : darken(@primary,7%);
@info                    : #4ebcda;
@lightblue               : @info;
@success                 : #9cc96b;
@green                   : @success;
@yellow                  : #f1da71;
@warning                 : #ebaa4b;
@orange                  : @warning;
@danger                  : #f76c51;
@red                     : @danger;
@mint                    : #50c7a7;
@purple                  : #986291;
@berry                   : #b25e71;
@pink                    : #e17ca7;
@dark                    : #3b4146;


// PROFESSION COLORS
//============================================
@dev: lighten(@blue, 7%);
@devops: lighten(@mint, 7%);
@ux: lighten(@green, 7%);
@qa: lighten(@pink, 7%);
@ba: lighten(@purple, 7%);
@pm: lighten(@berry, 7%);
@sales: lighten(@lightblue, 7%);
@recruiting: lighten(@yellow, 7%);
@other: darken(@gray, 5%);


// CHECKBOX & RADIO
//============================================
@checkbox-radio-unchecked: lighten(@gray, 7%);
@checkbox-radio-checked: darken(@gray, 27%);
